.answer__item,
.ship__item--accent {
    color: green;
    font-weight: 700;
}

.container{
    border: 2px solid #8e8d8d;
    padding: 10px;
    margin-bottom: 15px;
}

.form-proto {
    margin-top: 10px;
}